########### Studio ############

*.iml
.idea/
out/
gen-external-apklibs/
local.properties
########### Android ###########

.gradle/
build/
gen/
lint.xml
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/cache.properties.lock
